.footer{
  width: 100%;
 background-color: var(--cp2color1);
 margin-top: auto;
}

.footer span{
  max-width:1140px ;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color:gainsboro;
  
  
}